#content{height: 100%;margin-top: -20px;}
#user-menu{width: 350px;position:relative;left:50px;right:50px;}
.user-nav{width: 150px;position:relative;left:80px;right:80px;}
#prof_pic{width: 250px;height:250px;}
#loginform{background: url("../img/bg_pic/bg1.png") no-repeat fixed center;}